body {
    font-family: 'Arial', sans-serif;
    background-color: #B5C0D0; 
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.beholder {
    width: 80%;
    margin: auto;
}

.card {
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.card-header {
    background-color: #434c59;
    color: #fff;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.display-6 {
    margin: 0;
}

.card-body {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #333; 
    font-size: x-large;
}

tr {
    border-bottom: 1px solid #ddd; 
}

tr.header {
    background-color: #555;
    color: #fff; 
}

td {
    padding: 10px;
    text-align: center;
}

.text-center {
    text-align: center;
}

/* Button style */
button {
    background-color: transparent;
    border: none;
    color: black;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: x-large;
}

button:hover {
    background-color: transparent;
    color: #999999;
}

span:hover {
    background-color: transparent;
    color: #999999;
}

.popup-menu {
    position: relative;
    display: inline-block;
}

.popup-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1;
}

.popup-content a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.popup-content a:hover {
    background-color: #f2f2f2;
}

.popup-menu:hover .popup-content {
    display: block;
}